<div style="display: flex; justify-content: center;">
  <div style="margin-top: 1%; margin-bottom: 1%; width: 98%">
    <mat-card style="background-color: navajowhite;">
      <mat-card-header style="display: flex; justify-content: center; align-items: center;">
        <mat-card-title>
          <h1 style="text-align: center;">FIFA Team Builder</h1>
        </mat-card-title>
  
        <mat-card-subtitle>
          <h2 style="text-align: center;">Dominick Banasik and Zio Manoiero</h2>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card style="background-color: navajowhite; margin-top: 1%;">
      <mat-card style="background-color: blanchedalmond;">
          <mat-card-content>
            <h3>Stage 1: Select a Formation</h3>
          </mat-card-content>
      </mat-card>
    
      <mat-card-content>
      </mat-card-content>
    </mat-card>

    <mat-card style="background-color: navajowhite; margin-top: 1%;">
      <mat-card style="background-color: blanchedalmond;">
          <mat-card-content>
            <h3>Stage 2: Select Players</h3>
          </mat-card-content>
      </mat-card>
    
      <mat-card-content>
        <app-search (addEvent)="onAdd($event)" (removeEvent)="onRemove($event)"></app-search>
      </mat-card-content>
    </mat-card>  

    <mat-card style="background-color: navajowhite; margin-top: 1%;">
      <mat-card style="background-color: blanchedalmond;">
          <mat-card-content>
            <h3>Stage 3: Build Team</h3>
          </mat-card-content>
      </mat-card>
    
      <mat-card-content>
      </mat-card-content>
    </mat-card>  

    <mat-card style="background-color: navajowhite; margin-top: 1%;">
      <mat-card-content>
        <ul *ngFor="let player of this.getPlayers()">
          {{ player | json }}
        </ul>
      </mat-card-content>
    </mat-card> 
  </div>
</div>
